In [2]:
import pandas as pd
import seaborn as sns

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
mpg = sns.load_dataset('mpg')

In [8]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [13]:
mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [9]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [18]:
mpg['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [21]:
mpg['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

### Questions:
    Q1. Which car has the highest horsepower?
    Q2. Which car has the highest horsepower to weight ratio
    Q3. In which year the car having highest acceleration was manufactured and by whom?
    Q4. Which car, manufactured in the USA has the highest horsepower to weight ratio?
    Q5. How many cars having weight 2500 pounds or above have 8 cylinders?

In [27]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

**Q1. Which car has the highest horsepower?**

In [41]:
max_hp = mpg['horsepower'].max()
mpg[mpg['horsepower'] == max_hp]['name']

116    pontiac grand prix
Name: name, dtype: object

**Q2. Which car has the highest horsepower to weight ratio**

In [29]:
mpg['hp/weight_ratio'] = mpg['horsepower'] / mpg['weight']

In [42]:
max_ratio = mpg['hp/weight_ratio'].max()
mpg[mpg['hp/weight_ratio'] == max_ratio]['name']

13    buick estate wagon (sw)
Name: name, dtype: object

**Q3. In which year the car having highest acceleration was manufactured and by whom?**

In [43]:
max_accl = mpg['acceleration'].max()
mpg[mpg['acceleration'] == max_accl]['model_year']

299    79
Name: model_year, dtype: int64

**Q4. Which car, manufactured in the USA has the highest horsepower to weight ratio?**

In [66]:
manufactured_usa_index = mpg[mpg['origin'] == 'usa']['hp/weight_ratio'].idxmax()
rows_with_max_hp_usa = mpg[mpg['hp/weight_ratio'] == mpg.loc[manufactured_usa_index]['hp/weight_ratio']]
rows_with_max_hp_usa

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp/weight_ratio
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw),0.07291

**Q5. How many cars having weight 2500 pounds or above have 8 cylinders?**

In [86]:
weight_above_2500 = mpg[mpg['weight'] >= 2500]
eight_cylinders = weight_above_2500[weight_above_2500['cylinders'] == 8]
count_cars = len(eight_cylinders)
count_cars

103